.container{
    display: grid;
    grid-template-rows: repeat(8,100px);
    grid-template-columns: repeat(8,100px);
    justify-content: center;
}
.white_child{
    border: 1px solid black;
    background-color: rgb(92, 116, 239);
}
.black_child{
    border: 1px solid black;
    background-color: beige;
}