* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header1 {
    padding: 50px;
    display: grid;
    height: 500px;
    background-color: #c8d2d17c;
    shadow-box: 0 4px 8px rgba(0, 0, 0, 0.1);
    grid-template-columns: 60% 40%;
}


.logos1 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.logos1 p{
    font-size: 45px;
}

.logos2 img {
    height: 600px;
    margin-left: 50px;
}

.Headerfront {
    position: relative;
    margin-left: 100px;
    bottom: 65px;
    left: 40px;
    z-index: 1;
}

.Headerback {
    position: absolute;
    height: 400px;
    top: -99px;
    right: -60px;
    opacity: 0.2;
}

.title {
    margin-top: 50px;
    font-size: 60px;
    font-weight: bold;
    color: #333;
    padding: 10px;
}

.title1 {
    color: #71a857;
}

.title span {
    color: #69a7ba;
}

main {
    margin-top: 50px;
    justify-content: center;
    font-size: 25px;
    padding: 30px;
    margin-left: 50px;

}

.footer {
    padding-top: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    display: grid;
    grid-template-rows: 1fr auto;
    height: auto;
}

.footer1 img {
    height: 120px;
}

.footer2 img {
    height: 80px;
}
.footer1 p,
.footer2 p {
    font-size: 45px;
}

.footer-title {
    font-size: 20px;
    font-weight: bold;
    color: #728e9a;
}

.footer1 {
    padding: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

.footer2 {
    padding: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}